

span.title {
    font-size: 1.2em;
}

a.title-bar:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            white;
  } 
a.title-bar:visited {
  /* Applies to all visited links */
  text-decoration:  none !important;
  color:            #fff;
  } 
a.title-bar:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:            #fff;
  } 
a.title-bar:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  color: white;
  } 

button {
    font-size: 110% !important;
}

md-icon.logo {
    font-size: 2.1em;
    position: inline-block;
}