    <md-card>
      <md-card-content>
    <md-input-container>
      <input mdInput #repoName placeholder="Name" />
    </md-input-container>
    <md-input-container>
      <input mdInput #repoUrl placeholder="URL" />
    </md-input-container>
    <button (click)="add(repoName.value, repoUrl.value); repoName.value=''; repoUrl.value=''" class="app-button" md-button>
      <md-icon>add</md-icon>
    </button>


        <md-list>
          <md-list-item *ngFor="let repo of filtered"
              (click)="gotoDetail(repo)">
            <md-icon>directions_boat</md-icon>
            <span fxFlex="20" class="name">{{repo.name}}</span>
            <span fxFlex="60" class="url">{{repo.url}}</span>
            <span fxFlex="20"><button md-button (click)="$event.stopPropagation(); delete(repo.name);">
              <md-icon>delete</md-icon> delete
            </button></span>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <button md-button (click)="goBack()">
          <md-icon>arrow_back</md-icon> back
        </button>
      </md-card-content>
    </md-card>
