
    <md-list class="releases">
      <md-list-item 
        *ngFor="let release of releases"
        (click)="selectedRelease=release;">
        <md-icon [style.color]="statusColor(release.info.status.code)" md-tooltip="{{release.info.status.code | status}}" class="status-flag">flag</md-icon> 
        {{release.name}} - ({{release.chart.metadata.name}}) 
        <md-spinner *ngIf="release.loading" color="accent" class="app-spinner"></md-spinner>

        <label>namespace:</label>&nbsp;{{release.namespace}}&nbsp;<label>version:</label>&nbsp;{{release.version}}

        <release-controls [ParentReleases]="releases" [release]="release" (outputEvent)= "onComponentChange($event)"></release-controls>
      </md-list-item>
    </md-list>


<md-card *ngIf="selectedRelease">
  <md-card-content>
    <release [release]="selectedRelease" [releases]="releases"></release>
  </md-card-content>
</md-card>

<span class="app-action">
  <a routerLink="/chart-repos">
    <button class="app-button" md-fab>
      <md-icon>add circle</md-icon>
    </button>
  </a>
</span>