<button md-icon-button (click)="$event.stopPropagation();" [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item (click)="openEditDialog(release)">
    <md-icon color="primary">edit</md-icon>
    <span>Edit</span>
  </button>
  <button md-menu-item (click)="toggleLoad(); $event.stopPropagation(); delete(release.name);">
    <md-icon color="primary">delete</md-icon>
    <span>Delete</span>
  </button>
</md-menu>


<md-spinner *ngIf="loading" color="primary" class="app-spinner"></md-spinner>
